---
import { getCollection } from 'astro:content';
import DefaultLayout from '@layouts/DefaultLayout.astro';
import Contents from '@components/Contents.astro';

export async function getStaticPaths({ paginate }) {
  const articles = await getCollection('seekingJobsWithDisability');
  articles.sort((articleA, articleB) => aricleB.published_date - articleA.published_date);

  return paginate(articles);
}

const { page } = Astro.props;
const headings = page.data.map(article => ({
  depth: 3,
  slug: article.id,
  text: article.data.title
}))
---
<DefaultLayout title="障碍と就職活動" headings={headings}>
  <main id="seeking-jobs-with-disability">
    <section>
      <h2>記事一覧</h2>
      <ul id="articles">
      {page.data.map(article => <Contents category='seeking-jobs-with-disability' id={article.id} data={article.data} />)}
      </ul>
      <div id="page-links">
        <a {page.url.first ? 'href=' + page.url.first : null}>最初のページ</a>
        <a {page.url.prev ? 'href=' + page.url.prev: null}>前のページ</a>
        <span>{page.currentPage} / {page.lastPage}</span>
        <a {page.url.next ? 'href=' + page.url.next : null}>次のページ</a>
        <a {page.url.last ? 'href=' + page.url.last : null}>最後のページ</a>
      </div>
    </section>
  </main>
</DefaultLayout>

<style lang="scss">
  #seeking-jobs-with-disability {
    section {
      @include section-layout;
    }

    #articles {
      list-style: none;
    }

    #page-links {
      display: flex;
      justify-content: space-between;
    }
  }
</style>
<style lang="scss" is:global>
  #articles {
    @include list-with-headings;
  }
</style>
