---
import DefaultLayout from '@layouts/DefaultLayout.astro';
import {
  getCollection,
  getEntry,
} from 'astro:content';

function findServiceName(url: string): 'github' | 'gitlab' | '' {
  if (url.startsWith('https://github.com')) {
    return 'github';
  } else if (url.startsWith('https://gitlab.com')) {
    return 'gitlab';
  } else {
    return '';
  }
}

const { data: card } = await getEntry('cards', '2024');
const repositories = await getCollection('repositories');
const { data: headings } = await getEntry('headings', 'index');
---
<DefaultLayout
  headings={headings}
  description="Func(@func_hs)のリポジトリ情報の集約および活動の記録です。"
>
  <main>
    <section id="link-card">
      <div class="images">
        <img src="/images/myface.png" alt="The Windows Bluescreen. :(" id="myface" />
      </div>
      <div class="description">
        <h2><ruby>{card.name}<rp>(</rp><rt>{card.kana}</rt><rp>)</rp></ruby></h2>
        <ul id="belongs-to">{card.belongsTo.map(item => <li>{item}</li>)}</ul>
      </div>
    </section>
    <section id="link-repositories">
      <h2>リポジトリ</h2>
      <ul id="repositories">{repositories.map(({ data: item }) => (
        <li>
          <div class="images">
            <img src={item.logo.src} alt={item.logo.alt} class="logo" />
          </div>
          <div class="description">
            <h3>{item.name}</h3>
            <p>{item.description}</p>
            <ul class="links">
              <li class={findServiceName(item.repository)}><a href={item.repository}>リポジトリ</a></li>
              {item.documentation ? <li class="documentation"><a href={item.documentation}>ドキュメント</a></li> : null}
              {item.forkedFrom ? <li class="forked"><a href={item.forkedFrom}>フォーク元</a></li> : null}
            </ul>
          </div>
        </li>
      ))}</ul>
    </section>
    <section id="link-disorder">
      <h2>私の障碍について</h2>
      <ul id="disorder">
        <li>
          <h3>{card.disorder.name}</h3>
          <p>{card.disorder.description}</p>
        </li>
        <li>
          <div>
            <h3>症状<br />あるいは不得意事項</h3>
          </div>
          <div>
            <ul id="symptoms">{card.disorder.symptoms.map(item => (
              <li>{item}</li>
            ))}</ul>
          </div>
        </li>
        <li>
          <div>
            <h3>対処内容</h3>
          </div>
          <div>
            <ul id="coping">{card.disorder.coping.map(item => (
              <li>{item}</li>
            ))}</ul>
          </div>
        </li>
      </ul>
    </section>
  </main>
</DefaultLayout>

<style lang="scss">
  @include section-layout;

  .description {
    @include line-margin;
  }

  #link-card {
    @include grid-layout;

    #myface {
      width: calc(400px / var(--device-pixel-ratio));
      height: calc(400px / var(--device-pixel-ratio));
    }

    #belongs-to {
      list-style: none;
      margin: 0;

      li:last-child::after {
        margin-left: 1rem;
        content: '所属';
      }
    }
  }

  #repositories {
    @include intermediate-border;

    list-style: none;
    margin: 0;

    & > * {
      @include grid-layout;
    }

    .links {
      @include list-with-fa;
    }

    .logo {
      width: calc(640px / var(--device-pixel-ratio));
      height: calc(640px / var(--device-pixel-ratio));
    }

    .github {
      &::marker {
        @extend %fa-icon;
        @extend .fa-brands;

        content: fa-content($fa-var-github);
      }
    }

    .gitlab {
      &::marker {
        @extend %fa-icon;
        @extend .fa-brands;

        content: fa-content($fa-var-gitlab);
      }
    }

    .documentation {
      &::marker {
        @extend %fa-icon;
        @extend .fa-solid;

        content: fa-content($fa-var-book);
      }
    }

    .forked {
      &::marker {
        @extend %fa-icon;
        @extend .fa-solid;

        content: fa-content($fa-var-code-fork);
      }
    }
  }

  #disorder {
    @include intermediate-border;

    list-style: none;
    margin: 0;

    & > * {
      @include grid-layout;
    }

    #symptoms {
      @include list-with-fa;

      li::marker {
        @extend %fa-icon;
        @extend .fa-solid;

        content: fa-content($fa-var-notes-medical);
      }
    }

    #coping {
      @include list-with-fa;

      li::marker {
        @extend %fa-icon;
        @extend .fa-solid;

        content: fa-content($fa-var-arrow-right);
      }
    }
  }
</style>
