---
import path from 'node:path';
import DefaultLayout from '@layouts/DefaultLayout.astro';
import IconItem from '@components/IconItem.astro';
import Highlight from '@components/Highlight.astro';
import { getEntry } from 'astro:content';

const { data: sheave } = await getEntry('repositories', 'sheave');
const { data: headings } = await getEntry('headings', 'sheave');
---
<DefaultLayout
  title="sheave"
  headings={headings}
  description="Rust製のRTMPプロトコル向けのツール群であるSheaveのリポジトリとドキュメントに関する情報の集約です。"
>
  <main id="sheave-project">
    <section id="link-preview">
      <img src={sheave.logo.src} alt={sheave.logo.alt} id="logo-sheave" />
      <div>
        <h2>{sheave.name}</h2>
        <p>{sheave.description}</p>
      </div>
    </section>
    <section id="link-usage">
      <h2>使い方</h2>
      <ul id="usage">
        <li>
          <h3>サーバ</h3>
          <p>このリポジトリをそのまま使う場合</p>
          <Highlight language="bash">{sheave.usage.server.local}</Highlight>
          <p>Dockerイメージとして使う場合</p>
          <Highlight language="bash">{sheave.usage.server.container}</Highlight>
        </li>
        <li>
          <h3>クライアント</h3>
          <p>このリポジトリをそのまま使う場合</p>
          <Highlight language="bash">{sheave.usage.client.local}</Highlight>
        </li>
      </ul>
    </section>
    <section id="link-documents">
      <h2>ドキュメント(英語)</h2>
      <ul id="documents">
        <li>
          <h3>コアライブラリ</h3>
          <ul class="links">
            <IconItem category="solid" icon="book"><a href={sheave.links.documents.core}>GitHub Pages</a></IconItem>
          </ul>
        </li>
        <li>
          <h3>サーバ</h3>
          <ul class="links">
            <IconItem category="solid" icon="book"><a href={sheave.links.documents.server}>GitHub Pages</a></IconItem>
          </ul>
        </li>
        <li>
          <h3>クライアント</h3>
          <ul class="links">
            <IconItem category="solid" icon="book"><a href={sheave.links.documents.client}>GitHub Pages</a></IconItem>
          </ul>
        </li>
      </ul>
    </section>
    <section id="link-goals">
      <h2>目標</h2>
      <p>{sheave.goals.slogan}</p>
      <ul id="goals">{sheave.goals.descriptions.map(description => <li>{description}</li>)}</ul>
    </section>
    <section id="link-features">
      <h2>機能</h2>
      <ul id="features">
        <li>
          <h3>実装済み</h3>
          <ul id="implemented">{sheave.features.implemented.map(feature => <IconItem category="solid" icon="square-check">{feature}</IconItem>)}</ul>
        </li>
        <li>
          <h3>実装中</h3>
          <ul id="wip">{sheave.features.wip.map(feature => <IconItem category="solid" icon="square">{feature}</IconItem>)}</ul>
        </li>
      </ul>
    </section>
    <section id="link-license">
      <h2>ライセンス</h2>
      <ul id="license">
        <li>
          <h3>{sheave.license.name}</h3>
          <p><a href="https://choosealicense.com/licenses/mit">https://choosealicense.com/licenses/mit</a></p>
        </li>
        <li>
          <h3>条件</h3>
          <ul id="conditions">{sheave.license.descriptions.conditions.map(condition => <IconItem category="solid" icon="circle-exclamation">{condition}</IconItem>)}</ul>
        </li>
        <li>
          <h3>許可事項</h3>
          <ul id="permissions">{sheave.license.descriptions.permissions.map(permission => <IconItem category="solid" icon="circle-check">{permission}</IconItem>)}</ul>
        </li>
        <li>
          <h3>制限事項</h3>
          <ul id="limitations">{sheave.license.descriptions.limitations.map(limitation => <IconItem category="solid" icon="circle-xmark">{limitation}</IconItem>)}</ul>
        </li>
      </ul>
    </section>
  </main>
</DefaultLayout>

<style lang="scss">
  #sheave-project {
    section {
      @include section-layout;
    }

    #link-preview {
      display: grid;
      grid-template-rows: 50% 1fr;
      justify-content: center;
      align-content: center;
      gap: 1rem;

      #logo-sheave {
        @include image-sizing(640px, 640px);

        justify-self: center;
        align-self: center;
      }

      div {
        @include content-margin;
      }
    }

    #goals {
      @include list-with-default;
    }

    :is(#usage, #documents, #features, #license) {
      @include list-with-headings;

      list-style: none;
    }

    :is(#link-documents .links, #implemented, #wip, #conditions, #permissions, #limitations) {
      @include list-with-fa;
    }
  }
</style>

<script>
  import hljs from 'highlight.js';

  hljs.highlightAll();
</script>
